
<div id="contribute">

	<div class="pic">
		<img alt="Contribute"  src="/images/contribute.png" />
	</div>
	<div class="desc">
		Create and upload your original artwork and the community votes on which image best represents the word.
	</div>
	<br style="clear:both;"/>
	
	<hr/>
	<div class="content">
	


	<h1> 1) Review And Understand Successful Submissions</h1>		

	<h2>
		Here are some recent successful submissions for <span class="highlight"><%= @example_word.english %></span>. Note the images clearly represent their words and do not contain offensive material.
	</h2>
	
	<div id="successful_submissions">
	<div class="content">
			<table>



			<% @example_word.images.each do |image| %>

			  <tr style="background-color:<%= cycle('white', '#EBDDE2')%>">
			    <td>
					<div class="vote_count">
					<%= link_to(image_tag('upvote.png'), upvote_image_path(image), :method => :put) %> <br/>
					
						<%= image.votes%> Votes <br/>

					<%= link_to(image_tag('downvote.png'), downvote_image_path(image), :method => :put) %>
					</div>
				</td>	
			    <td><%= image_tag(image.picture(:medium), :size => '200x200') %></td>

			    <td>
			
					<% if image.user %>
						<% if !image.user.picture_file_name.blank?%>
							<%= image_tag(image.user.picture(:small))%>
						<% else %>
							<%= image_tag('missing.png')%>
						<% end %>
					<% else %>
						<%= image_tag('missing.png')%>
					<% end %>

				</td>
				<td>
				<p><b>Artist:</b> 
					<% if image.user %>
						<%= image.user.name%>
					<% else %>
							Anonymous 
					<% end %>
					<br/>
				<b>Added:</b> <%= image.created_at.strftime('%B %d, %Y')  %></p>

				</td>


			  </tr>

			<% end %>
			</table>
	</div>
	</div>

	<h1> 2) Be An Artist</h1>		

	<h2>
		Use a drawing program or take a picture of your original artwork.
	</h2>


	<h1> 3) <%= link_to_create_user(current_user)  %> | <%= link_to_login_user(current_user) %> With An Account To Organize Your Hard Work</h1>

	<h2>
		<% if current_user %>
			Looks like you are already logged in as <span class="highlight"><%= current_user.email %></span> so all your submission will be added to this account.
		<% else %>
			It is not necessary to create an account; however, you can create an account to organize all the images you upload to the community and show off your work.
		<% end %>
	</h2>


	<h1> 4) Search For The Word Of Your Image</h1>
	

<h2>

<% form_tag(search_words_path, :method => :get) do %>
	Your word: 
	<%= text_field_tag :word, params[:word], :class => 'big_input'%>
	<%= submit_tag "Search", :disable_with => "Searching..." %>
<% end %></h2>

<h1>Step 5) Search Results</h1>


<% if params[:word] && @word && @word.new_record? %>

<h2>
		Congratulations, looks like you found a word that has not been added. After you create this word by clicking submit you will be able to add and image.
</h2>

	<%= render 'form' %>
<% elsif !params[:word].blank?  %>
<h2>Looks like we already have some progress on <%= link_to @word.english, word_images_path(@word)  %></h2>
<% else %>
<h2>
	A link will appear after word is found or created.
</h2>
<% end %>




</div>


</div>
