<p id="notice"><%= notice %></p>

<p>
  <b>English:</b>
  <%= @word.english %>
</p>

<p>
  <b>Spanish:</b>
  <%= @word.spanish %>
</p>

<p>
  <b>Frequency:</b>
  <%= @word.frequency %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
