<!DOCTYPE html>
<html>
<head>
  	<title>Free ACC</title>
  	<%= stylesheet_link_tag 'reset' %>
  	<%= stylesheet_link_tag 'app' %>
  	<%= csrf_meta_tag %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
	<%= javascript_include_tag 'jquery.rails.js' %>
	<%  if params[:action] == 'new' || params[:action] == 'create' %>
		<%= javascript_include_tag 'contribute'%>
		<script type='text/javascript'>
			<% if @image && @image.errors.any? %>
				var word = '<%=  @image.word %>';				
			<% else %>
				var word = undefined;
			<% end %>
		</script>
	<% end %>
	<%= render 'shared/preload'%>
	<%  if params[:action] == 'index'  %>
		<%= javascript_include_tag 'soundmanager'  %>
		<%= javascript_include_tag 'sound' %>
		<%= javascript_include_tag 'phrase' %>
	<% end %>
</head>
<body>
	<div id="container" class="container-shadow">
	   	<%= render 'shared/header' %>
		<%= render 'shared/notice' if flash[:notice]%>
	   <div id="body">
			<%= yield %>
	   </div>
	   <%= render 'shared/footer' %>
	</div>
</body>
</html>
