<!DOCTYPE html>
<html>
<head>
  	<title>Free ACC</title>
  	<%= stylesheet_link_tag 'reset' %>
  	<%= stylesheet_link_tag 'app' %>
  	<%= csrf_meta_tag %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
	<%= javascript_include_tag 'jquery.rails.js' %>
	<%= javascript_include_tag 'contribute' %>
</head>
<body>
	<div id="container">
	   <%= render 'shared/header' %>
	   <div id="body">
			<%= yield %>
	   </div>
	   <%= render 'shared/footer' %>
	</div>
</body>
</html>
