<!DOCTYPE html>
<html>
<head>
  <title>Free ACC</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon-precomposed" href="images/homeicon.png"/>
	<link rel="apple-touch-startup-image" href="images/myCustomStartupGraphic.png" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
</head>
<body>
	<div id="container">
	   <%= render 'shared/header' %>
	   <div id="body">
			<%= yield %>
	   </div>
	   <%= render 'shared/footer' %>
	</div>
</body>
</html>
