<!DOCTYPE html>
<html>
<head>
  	<title>Free ACC
	</title>
	<meta name="apple-mobile-web-app-capable" content="yes">  
	<%= stylesheet_link_tag 'reset' %>
  	<%= stylesheet_link_tag 'app' %>
  	<%= csrf_meta_tag %>
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'jquery.rails.js' %>
	<%= javascript_include_tag 'resize.js' %>
	<%  if params[:action] == 'new' || params[:action] == 'create' %>
		<%= javascript_include_tag 'contribute'%>
		<script type='text/javascript'>
			<% if @image && @image.errors.any? %>
				var word = '<%=  @image.word %>';				
			<% else %>
				var word = undefined;
			<% end %>
		</script>
	<% end %>
	<%  if params[:action] == 'index'  %>
		<%= javascript_include_tag 'soundmanager'  %>
		<%= javascript_include_tag 'sound' %>
		<%= javascript_include_tag 'phrase' %>
	<% end %>
</head>
<body>
	<div id="main">
		<div id="container" class="container-shadow">  
		 	<%= render 'shared/header' %>
			<%= render 'shared/notice' if flash[:notice]%>
		   <div id="body">
				<%= yield %>
		   </div>
		   <%= render 'shared/footer' if params[:action] == "index" %>
		</div>
	</div>
</body>
</html>
